.update-password-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
}

.validate-password {
    margin-bottom: 10px;
}

.submit-otp {
    margin-bottom: 10px;
}