<div class="update-password-component">
    <p class="text-color">Password Management</p>
    <div class="validate-password">
        <form class="password" [formGroup]="passwordForm" (ngSubmit)="onSubmitVerifyPassword()">
            <div class="form-group">
                <input id="password" formControlName="password" type="password" name="password" class="form-control" required placeholder="Verify Password">
                <p *ngIf="passwordForm?.get('password')?.invalid && (passwordForm?.get('password')?.dirty || passwordForm?.get('password')?.touched)">Password must be between 8 and 15 characters and include at least <br> one uppercase letter, lowercase letter, and one special character.</p>
            </div>
            <p class="errorMsg">{{verifyPasswordStatus}}</p>
            <br>
            <button class="btn-primary" type="submit"[disabled]="passwordForm.invalid">Verify Password</button>
        </form>
    </div>
    <div *ngIf="passwordValid" class="submit-otp">
        <form class="otp" [formGroup]="otpForm" (ngSubmit)="onSubmitVerifyOtp()">
            <div class="form-group">
                <input id="otp" formControlName="otp" type="text" name="otp" class="form-control" required placeholder="OTP">
                <p *ngIf="otpForm?.get('otp')?.invalid && (otpForm?.get('otp')?.dirty || otpForm?.get('otp')?.touched)">OTP must be 8 digits.</p>
            </div>
            <p class="errorMsg">{{verifyOTPStatus}}</p>
            <br>
            <button class="btn-primary" type="submit"[disabled]="otpForm.invalid">Verify OTP</button>
        </form>
    </div>
    <div *ngIf="otpValid" class="update-password">
        <form class="password" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitUpdatePassword()">
            <div class="form-group">
                <input id="password" formControlName="updatePassword" type="password" name="password" class="form-control" required placeholder="New Password">
                <p *ngIf="updatePasswordForm?.get('updatePassword')?.invalid && (updatePasswordForm?.get('updatePassword')?.dirty || updatePasswordForm?.get('updatePassword')?.touched)">Password must be between 8 and 15 characters and include at least <br> one uppercase letter, lowercase letter, and one special character.</p>
            </div>
            <p class="errorMsg">{{updatePasswordStatus}}</p>
            <br>
            <button class="btn-primary" type="submit"[disabled]="updatePasswordForm.invalid">Update Password</button>
        </form>
    </div>
</div>